.card {
  background-color: $ss-card-background-color;
  box-sizing: border-box;
  display: block;
  margin-bottom: 25px;
  padding: 25px;

  h1, h2, h3, h4 {
    margin-top: 0;
  }

  &:last-of-type {
    margin-bottom: 0;
  }
}

.card-secondary p {
  @media (min-width: nth(map-get($ss-breakpoints, 'phone-lg'), 1)) {
    @include responsive-prop('font-size', $ss-paragraph-font-sizes, 0.8);
    @include responsive-prop('line-height', $ss-paragraph-font-sizes, 1.2);
  }
}

.card-divider {
  background-color: $ss-dark-color;
  height: 1px;
  margin: 20px -25px;
  width: calc(100% + 50px);
}

.featured-card-image {
  margin: -25px -25px 15px;
  width: calc(100% + 50px);
}

.card-imaged {
  background-position: center;
  background-size: cover;
  display: flex;
  flex-flow: column nowrap;
  min-height: 250px;
  justify-content: flex-end;
}

.card-imaged-content {
  background-color: rgba($ss-dark-color, 0.5);
  color: $ss-light-color;
  margin: 0 -25px -25px;
  padding: 25px;
  width: 100%;
}
