////
/// Collection of variables you can adjust to change the look and feel of the
/// Starship Framework's forms.
///
/// @group Forms
/// @author Dean Papastrat
/// @since 1.0.0
////

/// Normal max-width of forms.
///
/// @type Pixels
/// @since 1.0.0
$ss-max-form-width:     750px;

/// Max-width of small forms.
///
/// @type Pixels
/// @since 1.0.0
$ss-max-form-sm-width:  500px;

/// Max-width of large forms.
///
/// @type Pixels
/// @since 1.0.0
$ss-max-form-lg-width:  1000px;

