.link-item {
  margin: 15px 0 10px;
}

.link-item-header {
  color: #9d9d9d;
  font-family: $ss-heading-font-family;
  font-size: 12px;
  line-height: 12px;
  margin-bottom: 5px;
  text-transform: uppercase;
}

.link-item-name {
  cursor: pointer;
  display: inline-block;
  font-family: $ss-heading-font-family;
  font-size: 20px;
  line-height: 24px;
  margin-bottom: 7.5px;
}

.link-item-description {
  font-size: 14px;
  line-height: 20px;
}
